
<h1>Listing parents_students</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Parent</th>
      <th>Student</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @parents_students.each do |parents_student| %>
      <tr>
        <td><%= parents_student.parent.name  %></td>
        <td><%= parents_student.student.name  %></td>
        <td><%= link_to 'Show', parents_student %></td>
        <td><%= link_to 'Edit', edit_parents_student_path(parents_student) %></td>
        <td><%= link_to 'Destroy', parents_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Parents student', new_parents_student_path %>

