<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 well">
	        <div class="intro-message">
	        	<img class="thumbnail" src="http://ymenchicago.com/wp-content/uploads/ymen-logo-slice-header.jpg">
	    		<h1>Welcome to the YMEN Database</h1>
	    		<hr class="intro-divider">
	    		<% if !signed_in? %>
		    		<h2 class="form-signin-heading">Please sign in</h2>
					<div class="row">
					  <div class="col-sm-10 col-sm-offset-1">
					  <p>
					    <%= form_for(:session, url: sessions_path) do |f| %>

					      <%= f.label :email %>
					      <%= f.text_field :email %>

					      <%= f.label :password %>
					      <%= f.password_field :password %>

					      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
					    <% end %>

					   <% if signed_in? && current_user.admin? %> Admin: <%= link_to "Create New Default User", signup_path %></p><% end %>
				<% else %>
					<div class="list-group">
					  <a href="#" class="list-group-item active">
					    Home
					  </a>
					  <a href="/students/new" class="list-group-item">New Student</a>
					  <a href="/parents/new" class="list-group-item">New Parents</a>
					  <a href="/employees/new" class="list-group-item">New Employee</a>
					  <a href="/volunteers/new" class="list-group-item">New Volunteer</a>
					</div>
				<% end %>
					  </div>
					</div>
		</div>
	</div>
</div>


