<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Main phone:</strong>
  <%= @employee.main_phone %>
</p>

<p>
  <strong>Alternative phone:</strong>
  <%= @employee.alternative_phone %>
</p>

<p>
  <strong>Ssn number:</strong>
  <%= @employee.ssn_number %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @employee.zipcode %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @employee.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact phone:</strong>
  <%= @employee.emergency_contact_phone %>
</p>

<p>
  <strong>Former occupation:</strong>
  <%= @employee.former_occupation %>
</p>

<p>
  <strong>Former business name:</strong>
  <%= @employee.former_business_name %>
</p>

<p>
  <strong>Former employment address:</strong>
  <%= @employee.former_employment_address %>
</p>

<p>
  <strong>Ymen start date:</strong>
  <%= @employee.ymen_start_date %>
</p>

<p>
  <strong>Church:</strong>
  <%= @employee.church %>
</p>

<p>
  <strong>Other children in household:</strong>
  <%= @employee.other_children_in_household %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @employee.marital_status %>
</p>

<p>
  <strong>Anniversary date:</strong>
  <%= @employee.anniversary_date %>
</p>

<p>
  <strong>Background check complete:</strong>
  <%= @employee.background_check_complete %>
</p>

<p>
  <strong>High school attended:</strong>
  <%= @employee.high_school_attended %>
</p>

<p>
  <strong>Reference name:</strong>
  <%= @employee.reference_name %>
</p>

<p>
  <strong>Reference phone number:</strong>
  <%= @employee.reference_phone_number %>
</p>

<p>
  <strong>W2 completed:</strong>
  <%= @employee.w2_completed %>
</p>

<p>
  <strong>Contract signed:</strong>
  <%= @employee.contract_signed %>
</p>

<p>
  <strong>Family notes:</strong>
  <%= @employee.family_notes %>
</p>

<p>
  <strong>Other notes:</strong>
  <%= @employee.other_notes %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
