<%= bootstrap_form_for(@student, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name, label: "First Name" %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, label: "Last Name" %>
  </div>
  <div class="field">
    <%= f.text_field :cell_phone, label: "Cell Phone", placeholder: "312-555-5555" %>
  </div>
  <div class="field">
    <%= f.text_field :home_phone, label: "Home Phone", placeholder: "312-555-5555" %>
  </div>
  <div class="field">
    <%= f.text_area :address, label: "Street Address", placeholder: "1241 S Pulaski Rd" %>
  </div>
  <div class="field">
    <%= f.text_field :zipcode, label: "Zipcode", placeholder: "60623" %>
  </div>
  <div class="field">
    <%= f.text_field :social_security_number, label: "Social Security Number", placeholder: "123-45-6789" %>
  </div>
  <div class="field">
    <%= f.date_select :birth_date, start_year: 1900, end_year: Time.now.year, label: "Birthdate" %>
  </div>
  <div class="field">
    <%= f.text_field :email, label: "Email Address" %>
  </div>
  <div class="field">
    <%= f.text_field :current_school, label: "Current School" %>
  </div>
  <div class="field">
    <%= f.text_field :previous_school, label: "Previous School" %>
  </div>
  <div class="field">
    <%= f.text_field :grade_level, label: "Grade Level" %>
  </div>
  <div class="field">
    <%= f.text_field :point_of_contact, label: "Point of Contact" %>
  </div>
  <div class="field">
    <%= f.date_select :ymen_start_date, start_year: 1996, end_year: Time.now.year, label: "YMEN Start Date" %>
  </div>
  <div class="field">
    <%= f.text_field :church, label: "Current Church" %>
  </div>
  <div class="field">
    <%= f.select :resume_completed, [["Not Started", "Not Started"], ["In Progress", "In Progress"], ["Completed", "Completed"]], label: "Resume Status" %>
  </div>
  <div class="field">
    <%= f.text_field :leadership_roles, label: "Leadership Roles" %>
  </div>
  <div class="field">
    <%= f.text_field :other_organizations_involved, label: "Other Organizations Involved" %>
  </div>
  <div class="field">
    <%= f.number_field :num_current_mentors, label: "Number of Current Mentor" %>
  </div>
  <div class="field">
    <%= f.text_area :names_of_current_mentors, label: "Current Mentor Names" %>
  </div>
  <div class="field">
    <%= f.text_area :family_notes, label: "Family Notes" %>
  </div>
  <div class="field">
    <%= f.text_area :other_notes, label: "Other Notes" %>
  </div>
  <div class="actions">
    <%= f.primary %>
  </div>

<% end %>
