<h1>Listing students</h1>
<div class="table-responsive">
<table class="table table-striped">
<%= will_paginate  %>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Cell phone</th>
      <th>Birth date</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= link_to "#{student.first_name}", student %> </td>
        <td><%= link_to "#{student.last_name}", student %> </td>
        <td><%= student.cell_phone %></td>
        <td><%= student.birth_date %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>

</table>
<%= will_paginate %>
</div>

<br>

