<div class="row">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Student</h1>
        <!-- ===== vCard Navigation ===== -->
        <div class="row w">
          <div class="col-md-4">
            <%= image_tag "avatar.jpg", :class => "img-responsive" %>
            <ul class="nav nav-tabs nav-stacked" id="myTab">
              <li class="active"><a href="#about">General</a></li>
              <li><a href="#profile">Grades and School</a></li>
              <li><a href="#portfolio">YMEN Info</a></li>
              <li><a href="#contact">Other</a></li>
              <li><a href="#parents">Parents</a></li>
            </ul>         
          </div><!-- col-md-4 -->
        <!-- ===== vCard Content ===== -->
          <div class="col-md-8">
            <div class="tab-content">
            
            <%= render 'students/tabs/tab1' %> <!-- General -->

            <%= render 'students/tabs/tab2' %> <!-- Grades -->

            <%= render 'students/tabs/tab3' %> <!-- YMEN -->

            <%= render 'students/tabs/tab4' %> <!-- Other -->

            <%= render 'students/tabs/tab5' %> <!-- Parents -->
            
          </div><!-- Tab Content -->
          </div><!-- col-md-8 -->
        </div><!-- row w -->
        </br>
        <p class="pull-right"><%= link_to 'Edit', edit_student_path(@student), :class=> "btn btn-warning" %> | <%= link_to 'Back', students_path, :class=> "btn btn-primary" %></p>
      </div><!-- col-lg-6 -->
    </div><!-- /.container -->
  </div><!-- /.row -->
<br />

<div class="row">
  <div class="container">
  <p id="notice"><%= notice %></p>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="assets/javascripts/jquery.js"></script>
      <script src="assets/javascripts/bootstrap.min.js"></script>
    <script>
    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })  
    </script>    
  </div>
</div>
