<div class="container well">
<p id="notice"><%= notice %></p>


<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>


<p>
  <strong>Main phone:</strong>
  <%= @parent.main_phone %>
</p>

<p>
  <strong>Alternative phone:</strong>
  <%= @parent.alternative_phone %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @parent.birth_date %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parent.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @parent.zipcode %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @parent.occupation %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @parent.business_name %>
</p>

<p>
  <strong>Business address:</strong>
  <%= @parent.business_address %>
</p>

<p>
  <strong>Point of contact:</strong>
  <%= @parent.point_of_contact %>
</p>

<p>
  <strong>Ymen start date:</strong>
  <%= @parent.ymen_start_date %>
</p>

<p>
  <strong>Church:</strong>
  <%= @parent.church %>
</p>

<p>
  <strong>Other children in household:</strong>
  <%= @parent.other_children_in_household %>
</p>

<p>
  <strong>Martial status:</strong>
  <%= @parent.martial_status %>
</p>

<p>
  <strong>Anniversary date:</strong>
  <%= @parent.anniversary_date %>
</p>

<p>
  <strong>Transcript release form:</strong>
  <%= @parent.transcript_release_form %>
</p>

<p>
  <strong>Signed emergency slip:</strong>
  <%= @parent.signed_emergency_slip %>
</p>

<p>
  <strong>Fafsa completed:</strong>
  <%= @parent.fafsa_completed %>
</p>

<p>
  <strong>Application complete:</strong>
  <%= @parent.application_complete %>
</p>

<p>
  <strong>High school attended:</strong>
  <%= @parent.high_school_attended %>
</p>

<p>
  <strong>College attended:</strong>
  <%= @parent.college_attended %>
</p>

<p>
  <strong>Current parent involvement activities:</strong>
  <%= @parent.current_parent_involvement_activities %>
</p>

<p>
  <strong>Current parent involvement hours:</strong>
  <%= @parent.current_parent_involvement_hours %>
</p>

<p>
  <strong>Family notes:</strong>
  <%= @parent.family_notes %>
</p>

<p>
  <strong>Other notes:</strong>
  <%= @parent.other_notes %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
</div>
