<!DOCTYPE html>
<html>
<head>
  <title>YMEN Online Database</title>
  <!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="http://ymenchicago.com/images/favicon.ico" />



    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="assets/stylesheets/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

</head>

<body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>


    <% if params[:action] == 'show' && (params[:controller] == 'students' ||  params[:controller] == 'parents') ||  params[:controller] == 'sessions' ||  params[:controller] == 'users' %>
        <div class="container">
        	<%= yield %>
        </div>
    <% else %>
        <div class="container well">
          <%= yield %>
        </div>
    <% end %>




</body>
</html>
